body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mui-confirm-button, .mui-cancel-button {
  min-width: 150px; 
  padding: 0.5rem 1rem;
  font-size: 1.2rem; 
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 5px 5px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 1rem;
  font-weight: 400; 
  text-transform: none; 
  transition: background-color 0.15s ease-in-out;
}

.mui-confirm-button {
  background-color: #37d438; 
}

.mui-cancel-button {
  background-color: #ff5733; 
}

.mui-confirm-button:hover {
  background-color: #01ae00; 
}

.mui-cancel-button:hover {
  background-color: #cb2100;
}
